/*
*==========================================
*   Search Bar (31 - 107)
*==========================================
*   Grid Template (208 - 231)
*==========================================
*   Row Template (237 - 262)
*==========================================
*   Msg Conatainer (268 - 282)
*==========================================
*   Alert Message (289 - 301)
*==========================================
*   Shortcode Class (307 - 309)
*==========================================
*   Responsive (315 - 376)
*==========================================
*/

/*
 * Search bar 
*/

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100% ;
}

.search-bar-container  {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 5rem ;
    margin-bottom: 1.5rem;
}

.search-bar {
    width: 60% ;
    background: #fff ;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    margin: 1rem 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: auto ;
}

.search-icon {
    width: 50px ;
    display: flex ;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: none;
    flex-shrink: 0;

}

.search-icon span {
    font-size: 1.5rem;
    color: #17a2b8 ;
}

.search-input {
    flex-grow: 1;
    border: none ;
    outline: none ;
    box-shadow: none ;
    height: 50px;
    padding: 0 ;
    font-size: 1rem;
    background-color: white ;
}

.search-btn {
    display: flex ;
    align-items: center ;
    justify-content: center ;
    width: 37px ;
    cursor: pointer;
    background: #17a2b8 ;
    color: white ;
    border: none ;
    border-radius: 50% ;
    margin: 0.5rem;
    transition: all 0.3s ease;
}

.search-btn span {
    margin-top: -3px;
    font-size: 1.5rem;
}

.search-btn:hover {
    background: #138496 ;
    text-decoration: none ;
}

/* 
 * Grid template 
*/
#wp-search-results {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 300px, 1fr ) );
    gap: 1rem;
    margin: 1px 5rem;
}

.wp-search-post {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin: 1rem;
    overflow: hidden;
}

.wp-search-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.wp-search-post-content {
    padding: 1rem 1.5rem;
}

/* 
 * Row template 
*/

#wp-search-results-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wp-search-post-row{
    margin: 0 6rem;
}

.wp-search-img-row {
    float: left;
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin: 1rem;
}

.wp-search-post-content-row {
    padding: 1rem 1.5rem;
}

.search-content {
    margin: 1rem;
}

/* 
 * Msg Container
*/

.text-info {
    color: #17a2b8 ;
}

.search-results-header, .no-search-results {
    display: flex;
    justify-content: center;
}

.msg-container {
    width: 100% ;
    display: flex;
    justify-content: center;
}

/* 
 *Responsive  
*/

@media ( max-width: 992px ) {
    .search-bar,.search-bar-container  {
        width: 80% ;
    }

}

@media ( max-width: 768px ) {
    .search-bar,.search-bar-container  {
        width: 100% ;
    }
    #wp-search-results {
        margin: 1px 1rem;
    }
    .wp-search-post {
        margin: 0.5rem;
    }
    .wp-search-img-row {
        width: 150px;
        height: 75px;
    }
    .search-results-header {
        margin: 1rem 1rem;
    }
    .alert{
        width: 300px;
        padding: .8rem;
    }
}

@media ( max-width: 480px ) {
    #search-query{
        width: 130px ;
    }
    #wp-search-results {
        grid-template-columns: repeat( auto-fill, minmax( 250px, 1fr ) );
    }
    .wp-search-img-row{
        width: 100px;
        height: 50px;
    }
    .search-results-header {
        margin: 1rem 0.5rem;
    }
    .alert{
        width: 200px;
        padding: .5rem;
    }
}